$container-width: 984px;
$lc-img-w: 109px;
$bc-img-w: 201px;

$card-max-width: 308px;

$main-bg: #1b232b;
$eth-gradient: #2d4934;
$lc-gradient: #333333;
$lc-gradient1: #545454;
$lc-gradient2: #808080;
$bc-gradient: #311204;
$bc-gradient1: #43210b;

$time-ch-color: rgba(255,255,255,0.2);
$perc-ch-num: #70c446;
$minus: #c80e24;
$ch-select-color: #3eb5f1;
$ch-select-num: #c4c4c4;
$form-select-bd: #92e8fe;
$form-select-bg: #1e252b;

$main-fsz: 16px;
$head-fsz: 22px;
$card-coin-price-fsz: 20px;
$card-fsz: 14px;

// $social-cubic-fn: cubic-bezier(.21,.98,.6,.99);
// $active-bar-cubic-fn: cubic-bezier(.21,.40,.78,.99);