.page-header {
	
	
	&__wrapper {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $container-width;
		padding: 0 4%;
		padding-top: 38px;

		&--bottom-tab {
			margin-bottom: 83px;
		}
	}
	&__navigation {
		display: flex;
		justify-content: flex-end;
	}
}
@media (max-width: 768px) {
	.page-header {
		&__wrapper {
			justify-content: center;
			margin: 0;
			padding: 103px 0 0 0;
		}
		&__logo-wrapper {
			margin-bottom: 15px;
		}
		&__navigation {
			background-color: #fff;

			left: 0;
			padding: 25px;
			position: absolute;
			right: 0;
			top: 0;

			&.expanded {
				border-bottom: 1px solid $dropdown-line-color;
			}
		}
	}
}