$container-width: 1170px;

$main-text-color: #42495b;
$green-text: #07d79b; 
$typical-grey-bd: #e8e8e8;
$icon-num-bgc: #daf9f0;
$icon-num-text-color: #57d5b9;
$main-icon-color: #868b96;
$main-header-bd: #f2f2f2;
$main-orange: #ff9142;
$main-red: #e90505;
$main-footer-color: #343a48;
$main-footer-icon-bg: #434956;
$main-footer-icon: #878a90;
$main-footer-text: #949db3;
$filters-text-color: #8c8c8c;
$filters-active-color: #09c199;
$filters-checkbox-bd: #cacaca;
$sort-tab-bgc: #fafafa;
$sort-tab-fc: #868686;

$main-font-size: 12px;
$main-head-fsz: 42px;
$small-fsz: 10px;
$ultra-small-fsz: 7px;
$big-fsz: 16px;
$footer-head: 21px;


$social-cubic-fn: cubic-bezier(.21,.98,.6,.99);
$active-bar-cubic-fn: cubic-bezier(.21,.40,.78,.99);